html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.header{
    font-size: 250%;
}
.text{
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
}
.namebar{
    margin: 0;
    background: linear-gradient(to right, rgb(20, 20, 20), rgb(80, 80, 80));
    color: white;
    height: 12vh;
    margin-top: -20px;
}
.logo{
    margin-top: 5px;
    z-index: 10;
    width: 10%;
}
.topmenu{
    display: flex;
    position: sticky;
    top: 0px;
    background: linear-gradient(to right, rgb(20,20,20), rgb(80, 80, 80));
    height: 8vh;
    justify-content: center;
    align-items: center;
    z-index: 7;
}
.länk{
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 125%;
    text-decoration: none;
}
.länk:hover{
    align-items: center;
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.rounded{
    border-radius: 10%;
    height: 50vh;
    margin-left: 10%;
    margin-bottom: 16vh;
    width: 20vw;
    cursor: pointer;
}
#shopingcart{
    height: 5vh;
}
#shopping-cart{
    color: white;
    display: flex;
    position: absolute;
    right: 1%;
    bottom: 20%;
}
#shopping-cart:hover{
    color: #ffd700;
}
.best-sellers{
    display: flex;
    flex-direction: row;
    height: 50vh;
    border-radius: 10%;
    margin-bottom: 10vh;
    justify-content: center;
}
.best-seller-text{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
}
video{
    width: 100%;
}
.video{
    display: flex;
    justify-content: center;
}
.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}